@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

body {
    background-color:#efefef;
    font-family: 'Courgette', cursive;
}

.wrapper {
  min-height: calc(100vh - 10em);
}

.row-no-margin {
    margin-bottom: 0;
}
/*
.center-absolute {
    position: absolute;
    left: 50%;
}

.flash-message {
    position: relative;
    left: -50%;
}*/
/*
.flash-message h3 {
    background-color: rgba(239, 239, 239, 0.7);
}*/
/*
.offsetter {
    position: absolute;
    top: 4.5em;
    left: 0;
    width: 4.5em;
    height: 100%;
}*/

/* Start of hamburger menu */
/* Made from this tutorial: https://www.youtube.com/watch?v=dIyVTjJAkLw */
/* all code concerning the hamburger menu comes from the video linked above. */

.menu-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    height: 4.5em;
    /*background-color: rgba(239, 239, 239, .5);*/
    cursor: pointer;
    transition: all .5s ease-in-out;
    top: 0;
    right: 0;
    z-index: 5;
}

.menu-btn_burger {
    width: 3em;
    height: .4em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    background-color: #272727;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 3em;
    height: .4em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    background-color: #272727;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* Animation of hamburger menu */

.menu-button.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-button.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-button.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* End of hamburger menu */

/******    NAVBAR    ******/

 .logo {
    display: inline-block;
    position: absolute;
    left: 0;
    color: green;
    margin: 0 .2em;
 }

nav {
    color: #fff;
    background-color: #efefef;
    border-bottom: 1px solid #272727;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

nav ul li {
    display: block;
    float: none;
    text-align: center;
    background-color: rgba(77,182,172, .8);
    margin-bottom: 1px;
    transition: all ease-in-out .3s;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
}

nav ul li a {
    color: #272727;
    font-weight: 600;
    font-size: 1.5em;
}

.mainMenu {
    position: fixed;
    right: 0!important;
    margin-top: 3.2em;
    z-index: 5;

}

/******    Index    ******/

 .landing-card {
    text-align: center;
    background-color:rgba(239, 239, 239, 0.7);
    border-radius: 2%;
    position: relative;
 }

.landing-card a {
    margin: 2em; /*Hopefully works*/
}

.section-devider {
    background-color: #26a69a;
    margin: 0;
}

.section-devider > h4 {
    padding-bottom: 1em;
}

/******    CARDS    ******/

.recipe-card {
    position: relative;
    height: 40em;
    border-radius: .5em;
    padding: 0!important;
    margin: 2em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    overflow:hidden;
}

.image-card-container {
    width: 100%;
    height: 20em;
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-card-container img {
    max-height: 100%;
    border-radius: .5em .5em 0 0;
}

.card-content {
    padding: .5em;
}

.recipe-card-btn {
    position: absolute;
    bottom: .5em;
    left: .5em;
}

.card-header {
    margin: 0 0 .5em 0;
}

.card-text {
    padding: 2px;
    font-size: 1.2em;
}

.bold-text {
    font-weight: 500;
}

.cards-row {
        margin-left: 2em;
        margin-right: 2em;
    }


/******    CAROUSEL    ******/

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75)!important;
    transition: all ease-in-out .5s;
}

.carousel-header {
    position: absolute;
    opacity: 0;
    transition: all ease-in-out .5s;
    margin-top: auto
}

.carousel:hover {
    opacity: .4;
}

.carousel:hover .carousel-header {
    opacity: 1;
    color: rgba(0,0,0,1); /**/
}

.carousel-img {
    max-height: 100%;
    padding: 1em;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
}

.glide__arrows {
    text-align: center;
}

.glide__arrow {
    margin: 1em;
}

/******    RECIPE SITE    ******/

.recipe-img {
    margin-top: .5px;
    height: 30em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    border-bottom: 1px solid;
}

.recipe-img > img {
    height: 100%
}


/******    POPUPS    ******/

#popup-delete {
    width: 30em;
    height: 15em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    position: absolute;
    z-index: 1000;
    left: 50%;
    display: none;
    background-color: #fefefe;
    border-radius: 5px;
    padding: 10px;
    bottom: -80%;
    transform: translate(-50%, -50%);
}

#cancel {
    position: absolute;
    bottom: 1em;
    left: 3em;
}

#confirm-del {
    position: absolute;
    bottom: 1em;
    right: 3em;
}

.popup-open {
    display: block;
}

/******    RESULTS    ******/

.result-recipe {
    background-color: #26a69a;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    padding: .5em;
    margin: .5em;
}

.result-header {
    margin: .2em;
}

.results-btn {
    margin: .5em;
}

/******    LOGIN    ******/

.login-container,
.register-container {
    padding: 1em;
    background-color: rgba(39,39,39, .99);
    color: #fefefe;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: absolute;
    z-index: 15;
    top: 12%;
    display: none;
}

.login-logo {
    color: #26a69a;
}

.login-container p {
    padding: .3em
}

.close-logo {
    margin: .5em;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#username, #password, #register_password , #register_name {
    color: #fefefe;
}


/******    FOOTER    ******/


footer {
    position: relative;
    height: 8em;
    width: 100%;
    background-color: #272727;
}




/*** Desktop View ***/
@media (min-width: 767px) {
    #bg-img {
        background: url('/static/images/green-recipe.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        margin-top: .1em;
        /*position: absolute;
        top: 4.5em;
        left: 0;*/
        z-index: -5;
        border-bottom: .1em solid;
    }

    /*.nav-lines::before,*/
    .nav-lines::after {
        content: "";
        position: absolute;
        background-color: #272727;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    }
    /*
    .nav-lines::before {
        height: .1em;
        width: 100%;
        top: 4.5em;
    }*/

    .nav-lines::after {
        height: 100%;
        width: .1em;
        left: 4.5em;
        top: 0;
    }

    .logo {
        margin-left: 1.5em;
    }

    .landing-card {
        width: 50em;
        margin-left: calc((100% - 50em)/2)!important;
        margin-top: 5em;
    }

    .cards-row {
        margin-left: 7em;
        margin-right: 7em;
    }

    .recipe-card {
        width: 30%!important;
    }

    .recipe-img {
        margin-left: 3.8em;
    }

}