
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#efefef;
}
/*
.offsetter {
    position: absolute;
    top: 4.5em;
    left: 0;
    width: 4.5em;
    height: 100%;
}*/

/* Start of hamburger menu */
/* Made from this tutorial: https://www.youtube.com/watch?v=dIyVTjJAkLw */
/* all code concerning the hamburger menu comes from the video linked above. */

.menu-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    height: 4.5em;
    cursor: pointer;
    transition: all .5s ease-in-out;
    top: 0;
    right: 0;
}

.menu-btn_burger {
    width: 3em;
    height: .4em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    background-color: #272727;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 3em;
    height: .4em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    background-color: #272727;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* Animation of hamburger menu */

nav {
    color: #fff;
    background-color: #efefef;
}

.menu-button.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-button.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-button.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* End of hamburger menu */

/******    NAVBAR    ******/

 .logo {
    display: inline-block;
    position: absolute;
    left: 0;
    margin: 0;
    margin-left: 1.5em;
    color: green;
 }


/******    Index    ******/

 .landing-card {
    text-align: center;
    background-color: rgba(0,128,0,.2);
    border-radius: 2%;
    position: relative;
    margin-left: calc((100% - 50em)/2)!important;
    margin-top: 5em;
 }

.landing-card a {
    margin: 2em; /*Hopefully works*/
}

/******    CARDS    ******/

.recipe-card {
    height: 37em;
    border-radius: .5em;
    padding: 0!important;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}

.image-card-container {
    width: 100%;
    height: 18em;
    /*background-color: #272727;*/
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
}

.image-card-container img {
    max-height: 100%;
    width: 100%;
    border-radius: .5em .5em 0 0;
}

.card-content {
    padding: .8em;
}

.card-content btn {
    margin-top: 1em;
}

.card-header {
    margin: 0 0 .5em 0;
}

.card-text {
    padding: 2px;
    font-size: 1.2em;
}

.bold-text {
    font-weight: 500;
}


/******    CAROUSEL    ******/

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75)!important;
    transition: all ease-in-out .5s;
}

.carousel:hover {
    opacity: .5;
}

.carousel-header {
    
    opacity: 0;
    transition: all ease-in-out .5s;
}

.carousel-header:hover {
    opacity: .3;
}

.carousel-img {
    max-height: 100%;
    padding: 1em;
    /*border: 1px solid; */
}

.box-shadow {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


/******    FOOTER    ******/

/*
footer {
    position: absolute;
    bottom: 0;
    height: 8em;
    width: 100%;
    background-color: #272727;
}
*/

/*** Desktop View ***/
@media (min-width: 767px) {
    #bg-img {
        background: url('/static/images/green-recipe.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        margin-top: -4.3em;
        /*position: absolute;
        top: 4.5em;
        left: 0;*/
        z-index: -5;
    }

    .nav-lines::before,
    .nav-lines::after {
        content: "";
        position: absolute;
        background-color: #272727;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    }

    .nav-lines::before {
        height: .1em;
        width: 100%;
        top: 4.5em;
    }

    .nav-lines::after {
        height: 110%;
        width: .1em;
        left: 4.5em;
        top: 0;
    }

    .landing-card {
        width: 50em;
        margin-left: calc((100% - 50em)/2)!important;
    }


}