{% extends 'base.html' %}

{% block content %}


        <section id="bg-img">
                <div class="row">
                    <div class="col s12 l8 landing-card">
                        <h1>Your Online Cookbook</h1>
                        <h3>Find, Create and Share your favorite recipes with others! All located here at GreenJunkie!</h3>
                        <a href="{{ url_for('view_recipes') }}" class="waves-effect waves-light btn-large cyan">Browse Recipes</a>
                    </div>
                </div>
        </section>

        <section class="img-slider-sec">
            <div class="row">
                <div class="col s12 section-devider center">
                    <h4>Take a look at some of our wonderful recipes!</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <div class="row">
                                {% for recipe in recipes %}
                                <div class="col s12 m4">
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                                <div class="carousel">
                                                    
                                                    <img class="carousel-img" src="{{ recipe.image_url }}" alt="food">
                                                    <h4 class="carousel-header">Open Recipe</h4>
                                                
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <span class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                <a class="btn-floating btn-med waves-effect waves-light light-cyan"><i class="material-icons">arrow_back</i></a>
                            </span>
                            <span class="glide__arrow glide__arrow--right" data-glide-dir=">">
                                <a class="btn-floating btn-med waves-effect waves-light light-cyan"><i class="material-icons">arrow_forward</i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



{% endblock %}