{% extends 'base.html' %}

{% block content %}


        <section id="bg-img">
                <div class="row">
                    <div class="col s12 l8 offset-l2 landing-card">
                        <h1>Your Online Cookbook</h1>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <!--<div class="row-no-margin center-absolute">
                                <div class="col s-10 offset-s1 flash-message">-->
                                {% for message in messages %}
                                <div class="flash-message center">
                                    <h3 class="flash-text">{{ message }}</h3>
                                </div>
                                {% endfor %}
                                <!--</div>
                            </div>-->
                            
                            
                            {% endif %}
                        {% endwith %}
                        <h3>Find, Create and Share your favorite recipes with others! All located at one convinent spot.</h3>
                        <h4>Create an account for free to be able to enjoy the full use of CatchyName!</h4>

                        
                        <a href="{{ url_for('view_recipes') }}" class="browse-btn waves-effect waves-light btn-large cyan">Browse Recipes</a>
                    </div>
                </div>
        </section>
        <!--
        <section id="about-img" class="about">
            <div class="row">
                <div class="col s12 m5 offset-m1 landing card center">
                    <h3>About CatchyName</h3>
                    <p card-text>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat doloribus reiciendis fuga odit fugit pariatur, suscipit earum id quasi accusamus aut voluptatibus reprehenderit hic quos perferendis blanditiis facilis. Nisi, pariatur!
                    Fugiat corrupti dolore accusamus velit asperiores. Enim, amet. Non magnam, natus quae incidunt ea, quidem vero quibusdam maiores nobis ipsum labore ipsam soluta necessitatibus voluptatum eius fugiat dolores voluptate aliquam.
                    Fugit pariatur quis nihil voluptas nemo saepe repudiandae. Ipsam temporibus facere quas totam impedit quasi sint, natus possimus odit corporis, animi consequuntur est reprehenderit ab? Voluptatibus non eligendi cupiditate ab.
                    Nemo quia debitis distinctio, maiores labore error officia cum magni ea quasi quas recusandae cupiditate pariatur commodi placeat expedita natus nobis molestiae quaerat dolores. Alias magni in voluptatibus voluptas tenetur.
                    Laudantium quisquam ad mollitia temporibus veritatis quos earum voluptatibus consectetur corporis fuga, repellat dolores eaque magnam est fugiat quaerat dolore ex recusandae laborum architecto. Cum qui velit sint ab possimus.
                    Quasi illo ducimus rerum qui nobis quo necessitatibus ea, at corrupti blanditiis unde magni odit reiciendis eveniet animi, ab doloremque iste laudantium hic dolores explicabo! Nostrum unde obcaecati nam facere?
                    </p>
                </div>
            </div>
        </section>-->

        <section class="img-slider-sec">
            <div class="row">
                <div class="col s12 section-devider center">
                    <h4>Take a look at some of our wonderful recipes!</h4>
                </div>
            </div>
            <div class="row row-no-margin glide-row">
                <div class="col s12">
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <div class="row">
                                {% for recipe in recipes %}
                                <div class="col s12 m4">
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                                <div class="carousel">
                                                    
                                                    <img class="carousel-img" src="{{ recipe.image_url }}" alt="food">
                                                    <h4 class="carousel-header">Open Recipe</h4>
                                                
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <span class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                <a class="btn-floating btn-med waves-effect waves-light light-cyan"><i class="material-icons">arrow_back</i></a>
                            </span>
                            <span class="glide__arrow glide__arrow--right" data-glide-dir=">">
                                <a class="btn-floating btn-med waves-effect waves-light light-cyan"><i class="material-icons">arrow_forward</i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



{% endblock %}