{% extends 'base.html'%}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="recipe-img img">
            <img src="{{ recipe.image_url }}" alt="Food Image">
        </div>
    </div>
</div>
<div class="cards-row">
    <div class="row">
        <div class="col s12">
            <p>{{ recipe.cooking_time }} | {{ recipe.cousine }}</p>
            <h3>{{recipe.recipe_name}}</h3>
            <p>{{ recipe.summary }}<p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Instructions:</h4>
            <p>
            {{recipe.instructions}}
            </p>
        </div>
        <div class="col s6">
            <h4>Ingredients:</h4>
                <ul>
                {% for ing in recipe.ingredients %}
                    <li>{{ ing }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row center">
        <div class="col s2 offset-s2">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light green btn">Edit</a>
        </div>
        <div class="col s2 offset-s4">
            <a id="del-recipe" class="waves-effect waves-light red btn">Delete</a>
        </div>
    </div>
    <div id="popup-delete">
        <h4>Are you sure you wish to delete this recipe from this page?</h4>
        <a id="cancel" class="waves-effect waves-light green btn">Cancel</a>
        <a href="#" id="confirm-del" class="waves-effect waves-light red btn">Delete</a>
    </div>

</div>

{% endblock %}