{% extends 'base.html' %}
{% block content %}

<h2 class="center">Results:</h2>




<div class="container">
{% if not recipes  %}
    <h4 class="center">No recipes found matching your search!</h4>
    <div class="col s12 m8 offset-m2 result-recipe box-shadow center teal lighten-4">
        <p class="card-text">Would you like to go back to the browse page?</p>
        <a href="{{ url_for('view_recipes')}}" class="waves-effect waves-light cyan btn results-btn center">Browse Recipes!</a>
    </div>
{% else %}
{% for recipe in recipes %}
    <div class="row">
        <div class="col s12 result-recipe box-shadow">
            <h3 class="result-header">{{ recipe.recipe_name }}</h3>
            <div class="col m4 s12">
                <p class="card-text"><span class="bold-text">Cousine: {{ recipe.cousine }}</span></p>
            </div>
            <div class="col m4 s12">
                <p class="card-text"><span class="bold-text">Time: {{ recipe.cooking_time }}</span></p>
            </div>
            <div class="col m4 s12">
                <p class="card-text"><span class="bold-text">Servings: {{ recipe.servings }}</span></p>
            </div>
            <p class="card-text">{{ recipe.summary }}</p>
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light green btn results-btn">Open!</a>
        </div>
        
    </div>
{% endfor %}
{% endif %}
</div>

{% endblock %}